@import "../css/reset.css";
@import "../css/header.css";

@font-face {
  font-family: S-CoreDream-1;
  src: url("../font/SCDream1.otf") format("opentype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: S-CoreDream-3;
  src: url("../font/SCDream3.otf") format("opentype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: S-CoreDream-6;
  src: url("../font/SCDream6.otf") format("opentype");
  font-style: normal;
  font-weight: normal;
}

body {
  width: 100%;
  height: 100%;
  font-family: S-CoreDream-3;
  color: #000;
}
/*----------------------- header---------------------------- */
header .logo::before {
  background: no-repeat url("../img/logo_bk.png") center center;
  background-size: cover;
}
/* --------로그인 & 검색 & 마이페이지 ----------- */

header .gnp li.login a {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background: no-repeat url("../img/power_white.png") center center #000; 
  box-shadow: none;
}
header .gnp li.search a {
  background: no-repeat url("../img/search_black.png") center center;
  background-size: 100%;
}
header .gnp li.my_page a {
  background: no-repeat url("../img/mypage_black.png") center center;
}
/*----------------------- nav---------------------------- */

/* 왼쪽상단 햄버거태그 */
nav .hamburg_box .hamburg {
  border-top: 2px solid #000;
}

nav .hamburg:before {
  border-top: 2px solid #000;
}
nav .hamburg:after {
  border-top: 2px solid #000;
}

/*---------------service main-------------------*/
.service_main {
  width: 1410px;
  margin: 0 auto;
  padding-top: 250px;
}
/*---------------service main -> header-------------------*/
.service_main .service_head {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 85px;
  border-bottom: 3px solid #000;
}
.service_main .service_head .title_big {
  width: 500px;
  border-bottom: 6px solid #000;
  font-family: S-CoreDream-6;
  font-size: 67.5px;
}
.service_main .service_head .title_small {
  position: relative;
  height: 80px;
  border-right: 1px solid #000;
  padding-right: 5px;
  font-family: S-CoreDream-1;
  font-size: 44px;
}
.service_main .service_head .title_small::before {
  content: "";
  position: absolute;
  top: 40px;
  right: -3px;
  height: 40px;
  border-right: 3px solid #000;
}

/*---------------service main -> img-------------------*/
.service_main div{
  text-align: center;
}
.service_main div img {
  width: 900px;
  height: 550px;
  margin: 100px 0 200px;
}
/* -------------service main -> service tab ---------- */
.service_main .service_tab {
  display: flex;
  background: #444;
  font-size: 20px;
  color: #fff;
}
.service_main .service_tab li{
  width: 33.33%;
  height: 90px;
  text-align: center;
  line-height: 90px;
  cursor: pointer;
}
.service_main .service_tab li.active {
  border: 1px solid #444;
  background: #fff;
  font-family: S-CoreDream-6;
  /* font-weight: bold; */
  color: #000;
}

/* ------- service mian -> service content ---------- */
.service_main .service_content {
  height: 600px;
  margin-bottom: 150px;
  border-bottom: 1px solid #444;
  padding-top: 150px;
  text-align: center;
}
.service_main .service_content li{
 display: none;
 line-height: 200%;
 font-size: 20px;
}
.service_main .service_content li span {
  display: block;
  padding-bottom: 50px;
  font-family: S-CoreDream-6;
  font-size: 40px;
}
.service_main .service_content li p {
  margin-bottom: 200px;
}
.service_main .service_content li button {
  width: 200px;
  height: 50px;
  border-radius: 25px;
  font-size: 16px;
  cursor: pointer;
}
.service_main .service_content li.active{
  display: block;
 }